<div class="absolute inset-x-0 bottom-0 h-16 w-screen bg-gray-800 p-4">
  <button class="rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 hover:bg-green-700 text-white" phx-click="next-round">Next Round</button>
  <button class="rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 hover:bg-green-700 text-white" phx-click="show-leaderboard">Show Leaderboard</button>
</div>
